In [4]:
import pandas as pd

tabela = pd.read_excel("tabela_alunos.xlsx")
display(tabela)

                                  Nome Atividade       Data      Hora
0        Maria Luiza Camargo Gonçalves    Entrou 2023-08-24  18:38:00
1              Izaura dos Santos Souza    Entrou 2023-08-24  18:38:00
2         William Lourenço de Oliveira    Entrou 2023-08-24  18:38:00
3          Fernando Marques dos Santos    Entrou 2023-08-24  18:38:00
4              Felipe de Souza Freitas    Entrou 2023-08-24  18:38:00
5              Felipe de Souza Freitas      Saiu 2023-08-24  19:59:00
6              Felipe de Souza Freitas    Entrou 2023-08-24  20:01:00
7                  Rayssa Barros Alves    Entrou 2023-08-24  18:38:00
8   Carolina Aparecida Henriques Prado    Entrou 2023-08-24  18:38:00
9          Cauan Menezes de Matos Luiz    Entrou 2023-08-24  18:38:00
10         Cauan Menezes de Matos Luiz      Saiu 2023-08-24  19:22:00
11         Cauan Menezes de Matos Luiz    Entrou 2023-08-24  19:22:00
12                 Hyago Martinez Rubo    Entrou 2023-08-24  18:38:00
13            Kaique Donizeti da Silva    Entrou 2023-08-24  18:38:00
14           Maria Elyza Andrade Silva    Entrou 2023-08-24  18:38:00
15           Maria Elyza Andrade Silva      Saiu 2023-08-24  20:16:00
16         Thiago Cauan de Lima Santos    Entrou 2023-08-24  18:38:00
17                Beatriz Lemos Soares    Entrou 2023-08-24  18:38:00

# Aqui está em ordem Alfabetica

In [9]:
tabela.sort_values('Nome', inplace=True)
tabela

                                  Nome Atividade       Data      Hora
17                Beatriz Lemos Soares    Entrou 2023-08-24  18:38:00
8   Carolina Aparecida Henriques Prado    Entrou 2023-08-24  18:38:00
9          Cauan Menezes de Matos Luiz    Entrou 2023-08-24  18:38:00
10         Cauan Menezes de Matos Luiz      Saiu 2023-08-24  19:22:00
11         Cauan Menezes de Matos Luiz    Entrou 2023-08-24  19:22:00
4              Felipe de Souza Freitas    Entrou 2023-08-24  18:38:00
5              Felipe de Souza Freitas      Saiu 2023-08-24  19:59:00
6              Felipe de Souza Freitas    Entrou 2023-08-24  20:01:00
3          Fernando Marques dos Santos    Entrou 2023-08-24  18:38:00
12                 Hyago Martinez Rubo    Entrou 2023-08-24  18:38:00
1              Izaura dos Santos Souza    Entrou 2023-08-24  18:38:00
13            Kaique Donizeti da Silva    Entrou 2023-08-24  18:38:00
14           Maria Elyza Andrade Silva    Entrou 2023-08-24  18:38:00
15           Maria Elyza Andrade Silva      Saiu 2023-08-24  20:16:00
0        Maria Luiza Camargo Gonçalves    Entrou 2023-08-24  18:38:00
7                  Rayssa Barros Alves    Entrou 2023-08-24  18:38:00
16         Thiago Cauan de Lima Santos    Entrou 2023-08-24  18:38:00
2         William Lourenço de Oliveira    Entrou 2023-08-24  18:38:00

# Organizei em ordem Crescente o horario

In [39]:
tabela.sort_values('Hora', inplace=True)
tabela

                                  Nome Atividade       Data      Hora
17                Beatriz Lemos Soares    Entrou 2023-08-24  18:38:00
7                  Rayssa Barros Alves    Entrou 2023-08-24  18:38:00
0        Maria Luiza Camargo Gonçalves    Entrou 2023-08-24  18:38:00
14           Maria Elyza Andrade Silva    Entrou 2023-08-24  18:38:00
13            Kaique Donizeti da Silva    Entrou 2023-08-24  18:38:00
1              Izaura dos Santos Souza    Entrou 2023-08-24  18:38:00
12                 Hyago Martinez Rubo    Entrou 2023-08-24  18:38:00
16         Thiago Cauan de Lima Santos    Entrou 2023-08-24  18:38:00
3          Fernando Marques dos Santos    Entrou 2023-08-24  18:38:00
4              Felipe de Souza Freitas    Entrou 2023-08-24  18:38:00
9          Cauan Menezes de Matos Luiz    Entrou 2023-08-24  18:38:00
8   Carolina Aparecida Henriques Prado    Entrou 2023-08-24  18:38:00
2         William Lourenço de Oliveira    Entrou 2023-08-24  18:38:00
11         Cauan Menezes de Matos Luiz    Entrou 2023-08-24  19:22:00
10         Cauan Menezes de Matos Luiz      Saiu 2023-08-24  19:22:00
5              Felipe de Souza Freitas      Saiu 2023-08-24  19:59:00
6              Felipe de Souza Freitas    Entrou 2023-08-24  20:01:00
15           Maria Elyza Andrade Silva      Saiu 2023-08-24  20:16:00

# Entrada e saída

In [41]:
entrada_saida = tabela[["Nome", "Atividade"]].groupby(["Nome"]).sum()
display(entrada_saida)

                                           Atividade
Nome
Beatriz Lemos Soares                          Entrou
Carolina Aparecida Henriques Prado            Entrou
Cauan Menezes de Matos Luiz         EntrouEntrouSaiu
Felipe de Souza Freitas             EntrouSaiuEntrou
Fernando Marques dos Santos                   Entrou
Hyago Martinez Rubo                           Entrou
Izaura dos Santos Souza                       Entrou
Kaique Donizeti da Silva                      Entrou
Maria Elyza Andrade Silva                 EntrouSaiu
Maria Luiza Camargo Gonçalves                 Entrou
Rayssa Barros Alves                           Entrou
Thiago Cauan de Lima Santos                   Entrou
William Lourenço de Oliveira                  Entrou

# Saiu e voltou

In [45]:
entrada_saida[entrada_saida["Atividade"] == "EntrouSaiuEntrou"]

                                Atividade
Nome
Felipe de Souza Freitas  EntrouSaiuEntrou

# Saiu e não voltou :(

In [47]:
entrada_saida.loc[entrada_saida["Atividade"] == "EntrouSaiu"]

                            Atividade
Nome
Maria Elyza Andrade Silva  EntrouSaiu

# Total de alunos

In [48]:
print(f"A Sala teve o total de {len(tabela.index)} alunos")

A Sala teve o total de 18 alunos